<html>
  <head>

    <!-- Start of  Zendesk Widget script -->
    <script type="text/javascript">
      zE('webWidget:on', 'open', function() {
       Alert('The widget has been opened!')
      })
    </script>
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=c136d89d-34a9-4104-96d1-9fb46a97ea68"  > </script>
        
    <!-- End of  Zendesk Widget script -->
  </head>

  <body>
   
      <a id="o" href="javascript:void(zE('webWidget', 'popout'))"> LOADING ... </a>
      <script type="text/javascript">
      var i = 0;
         var a = setInterval(function() { 
              document.getElementById("o").click(); 
          }, 1000 ) ;
      </script>
  </body>
</html>